a:hover{
    font-size: 30px;
    color: blue;
    animation: fadeIn 5s;
}

a:first-of-type{
    font-size: 40px;
    color: yellow;
}

a:active{
    font-size: 50px;
    color: green;
}

a:focus{
    font-size: 30px;
    color: red;
    animation: fadeOut 5s;
}

a{
    font-size:30px;
    color:black;
}

p::first-letter {
    color: blue;
    font-size: 100px;
}

p {
  display: none;
  background-color: red;
}

div:hover p {
  display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
